@page
@model ChalkboardChat.UI.Pages.Member.ManageUserModel
@{
}



<form method="post">
	<input type="text" class="form-control" placeholder="New username" asp-for="NewUsername" />
	<input type="password" placeholder=" new Password" asp-for="NewPassword" />
	<button type="submit" class="btn btn-secondary">Confirm change</button>
</form>

<h1>Change username and password</h1>


