@page
@using ChalkboardChat.Data.Model
@using Microsoft.AspNetCore.Identity
@model ChalkboardChat.UI.Pages.Member.MessagesModel
@{
}
@inject SignInManager<IdentityUser> signedInUser



@if (signedInUser.IsSignedIn(User))
{

    <h1>Welcome @User.Identity.Name.ToLower()</h1>
    <hr />

    <h2>Enter your ideas for the Chalkboard below:</h2>
    <div>
        <form method="post">
            <div class="form-group">
                <label for="message">Enter your message:</label>
                <input type="text" id="message" name="message" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Post Message</button>
        </form>
    </div>

   

  @*   Displaya dom i en div bara så länge *@

    <div>
        @foreach (var message in Model.Messages)
        {
            <div class="message">
                <p>@message.Username:</p>
                <p>@message.Message</p>
                <p>Time postef: @message.Date.ToString("yy-MM-dd HH:mm")</p>
                <hr />
            </div>
        }
    </div>


}

