@page
@using Microsoft.AspNetCore.Identity
@model ChalkboardChat.UI.Pages.Member.MessagesModel
@{
}
@inject SignInManager<IdentityUser> signedInUser

@if (signedInUser.IsSignedIn(User))
{
    <form method="post">
        <textarea name="message" placeholder="Enter your message"></textarea>
        <button type="submit">Post Message</button>
    </form>
}
